{{#if posts.length}}
  {{#each posts as |post|}}
    <a href="/dashboard/edit/{{id}}">
      <div class="card dashboard-card">
        <div class="list-item">
          <div class="card-header">
            <span>{{post.title}}</span>
          </div>
          <div class="card-body content-card">
            {{post.post}}
          </div>
        </div>
      </div>
    </a>
  {{/each}}
{{/if}}
<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <a type="button" class="btn btn-light" href="/dashboard/newpost">+ New Post
      +</a>
  </div>
</div>